<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D2AAC191A9DA30300E0904B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D2AAC2E1A9DA30300E0904B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3D8E201BB4A1CF000C53EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8DDB031F04B9E5007DE912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
