<!doctype html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <link rel="stylesheet" type="text/css" href="screen.css">
</head>
<body>
    <section id="content">
    <article id="page">
        <article>
            {{{ content }}}
        </article>
    </article>

    <script type="text/javascript" src="links.js">
    </script>
</body>
</html>
